<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <p><%= link_to "#{comment.user.last_name}さん", user_path(comment.user.id) %></p>
    <p>コメント：<%= comment.comment_text %></p>
    <% if comment.user == current_user %>
      <p><%= link_to 'コメントを削除する', article_comment_path(comment.article_id, comment.id), method: :delete, remote: true %></p>
    <% end %>
  <% end %>
<% end %>