<div class="container">
  <div class="skate-title-box">
    <h1 class="skate-title">Practice</h1>
  </div>

<%= render partial: "article_body", locals: { article: @skate_practices, browse_rank: @skate_practice_browse_ranks}  %>

</div>
