<div class="container">
  <div class="skate-title-box">
    <h1 class="skate-title">Skate</h1>
  </div>

<%= render partial: "article_body", locals: { article: @skate_articles, browse_rank: @skate_browse_ranks }  %>

</div>
