<h1>閲覧履歴</h1>

<% @browsing_histories.each do |history| %>
  <%= link_to article_path(history.article.id) do %>
	  <%= history.article.article_title %>
	<% end %>
	    <% history.article.article_images.each do |image| %>
	     <%= attachment_image_tag image, :image, :size => "100x100" %>
	    <% end %>
	    <%= history.article.created_at.strftime('%Y/%m/%d') %>
<% end %>
