<h1>Users All</h1>



<% @users.each do |user| %>

   <%= attachment_image_tag user, :user_image, :size=>"100x100" %>
<p><%= user.last_name %><% user.first_name %></p>
<p><%= user.email %></p>
<!-- DM機能を作成したらDMを開始するリンク作成する -->
<p><%= link_to 'Detail', user_path(user.id) %></p>
<% end %>
