<h1>Profile</h1>

<%= attachment_image_tag @user, :user_image, :size=>"100x100" %>
<p><%= @user.last_name %><% @user.first_name %></p>
<!-- お気に入り一覧・閲覧履歴・お問い合わせ一覧のリンクも作成する -->

<%= link_to '退会', leave_user_path(@user.id) %>