<div class="container">
   <h1 class="about-title">About</h1>
  <div class="about-text-box">
  	<h2 class="about-text-title">スケートボードや、それにまつわるHipHopの魅力を<br>発信するメディアである</h2>
  	<div class="about-text-content-title">
  		　〜 Skateboard & hiphop 〜
  		<div class="about-text-content">
		  	'Skateboard' と 'hiphop'に興味・関心がある全てのユーザーのために最新の情報を伝えることを目的として作られたメディアである。また、本メディアにインスパイアされ'Skateboard'を始めるユーザーが増加してくれることを心から祈っている。そのためのきっかけとして、本メディアがあなたに少しでも影響を与えられればと思っている。
  		</div>
  		<div class="about-text-caption">
		  	「スケートボードが鍵なんだ 全ての扉を開いてくれた」<br>
		  	　　　　　　　　　　　　　　　　　　　　by Nakel Smith
		</div>
  	</div>
  </div>

  <h2 class="profile-title">Developer Profile</h2>
   <div class="profile-box">
  	 <div class="profile-image"></div>
  	 <div class='profile-content'>
  	 	<h4 class='profile-content-name'>Shoichi Kimita
  	 	<%= link_to 'https://www.facebook.com/syoichi.kimita' do %><i class="fab fa-facebook-square"></i>
  	 	<% end %>
  	    </h4>
  	 	<h4 class='profile-content-represent'>栃木県出身</h4>
  	 	<h4 class='profile-content-caption'>大学４年の時にSkateboardを始める。<br>きっかけはスケーターが醸し出す雰囲気とファッションに衝撃を受けたから。<br>最近は東京駅周辺がスケートスポットとしてお気に入り。</h4>
  	 	</h4>
  	 </div>
   </div>

</div>
