<div class="video-wrap">
　<video src="video/Skateboard.mp4"width="100%" preload="none" autoplay loop muted></video>
  <div class="top-box">
	<p class="top-title">LifeWithS-H</p>
    <div class="user-entry-box">
      <h3 class="top-signup-btn sign_button sign_up_button cp_btn_top">Sign Up</h3>
      <h3 class="top-signup-btn sign_button sign_in_button cp_btn_top">Log In</h3>
    </div>
  </div>


	<div class="sign_modal_wrapper"></div>

	<div class="sign_modal">
	  <div class="sign_up_modal sign_modal_content">
	    <h2>Sign Up</h2>
	    <form class="new_user"action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="0vopqXSAxej0lk4KKOWG+YUcG2s5X+btIeQBKegvkob1KNqBEYUcJjZXNJ9bYJDpL+8AncJ0uHNFA4luEVFTAg==">
	      <div class="field">
	        <label for="user_email">姓</label><br>
	        <input autofocus="autofocus" autocomplete="last_name" type="last_name" value="" name="user[last_name]" class="form-control" style="width: 50%;" placeholder="姓">
	      </div>

	      <div class="field">
	        <label for="user_email">名</label><br>
	        <input autofocus="autofocus" autocomplete="first_name" type="first_name" value="" name="user[first_name]" class="form-control" style="width: 50%;" placeholder="名">
	      </div>

	      <div class="field">
	        <label for="user_email">メールアドレス</label><br>
	        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" class="form-control" style="width: 50%;" placeholder="メールアドレスを入力してください">
	      </div>

	      <div class="field">
	        <label for="user_password">パスワード</label>
	        <em>(6 characters minimum)</em>
	        <br>
	        <input autocomplete="new-password" type="password" name="user[password]" aria-autocomplete="list" class="form-control" style="width: 50%;" placeholder="パスワードを入力してください">
	      </div>

	      <div class="field">
	        <label for="user_password_confirmation">確認用パスワード</label><br>
	        <input autocomplete="new-password" type="password" name="user[password_confirmation]" class="form-control" style="width: 50%;" placeholder="もう一度パスワードを入力してください">
	      </div>

	      <div class="actions">
	        <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up" class="cp_btn" style="margin: 0 auto">
	      </div>
	    </form>
	  </div>
	  <div class="sign_in_modal sign_modal_content">
	    <h2>Log In</h2>
	    <form class="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="oHLlAj0JDR0syLFJq8pvBZgP3Tf2VBOuOl5VCtX7PkCHoBYqWAzU0+4Jy9zYT3kVMvzGwQ1/TTBeud1NLIX/xA==" >
	      <div class="field">
	        <label for="user_email">メールアドレス</label><br>
	        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" style="width: 50%;" class="form-control" placeholder="メールアドレスを入力してください">
	      </div>

	      <div class="field">
	        <label for="user_password">パスワード</label><br>
	        <input autocomplete="current-password" type="password" name="user[password]" class="form-control" style="width: 50%;" placeholder="パスワードを入力してください">
	      </div>

	      <div class="field">
	        <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]">
	        <label for="user_remember_me">Remember me</label>
	      </div>

	      <div class="actions">
	        <input type="submit" name="commit" value="Log in" data-disable-with="Log in" class="cp_btn" style="margin: 0 auto">
	      </div>
	    </form>
	  </div>
	</div>
</div>










