// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-text-box {
	text-align: left;
}

.mrg-20 {
	margin-left: 20px;
}

.reply-title {
	font-size: 20px;
	font-weight: 800;
}

.name-style {
	font-weight: 800;
}

.comment-actions {
	display: inline-block;
	padding-bottom: 40px;
	font-size: 15px;
}

.reply-actions {
	padding-bottom: 50px;
    font-size: 15px;
}


