// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table-title {
	font-size: 25px;
}

.contact-all-title,
.contact-new-title {
	font-size: 60px;
	line-height: 150px;
}

.contact-detail-title {
	line-height: 150px;
	font-size: 60px;
}

.contact-detail-box {
	margin: 0 auto;
	width: 50%;
	margin-bottom: 100px;
}

.contact-label {
	text-align: left;
	padding-bottom: 10px;
	font-size: 30px;
	padding-top: 30px;
}

.contact-body {
	font-size: 20px;
	text-align: left;
}

.contact-form {
	margin: 0 auto;
	width: 40%;
}


.contact-body {
	font-size: 20px;
}

.contact-btn {
	padding-top: 50px;
	margin-bottom: 80px;
}