// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorites-title {
	line-height: 250px;
}

.favorites-article-title, {
	margin-right: 40%;
}

.favorites-article-created {
	margin-right: 30%;
}